// bower:scss
// endbower
$primary-color-dark: #00695C;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: rgb(247, 247, 247);
}

main {
  flex: 1 0 auto;
}

.footer,
.header,
.nav,
.marketing {
  padding-left: 15px;
  padding-right: 15px;
  background-color: $primary-color-dark;
}

nav,
footer.page-footer {
  background-color: $primary-color-dark;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  .footer,
  .header,
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}




// company
.color-block {
    background-color: #00796B;
    height: 200px;
    width: 100%;
    padding-top: 20px;
}

.company-title {
    color: white;
    font-weight: 300;
    text-shadow: 1px 1px 8px black;
    text-align: center;
    margin-top: 0;
    font-size: 48px;
}

.main-photo {
  overflow: hidden;
    max-height: 250px;
    max-width: 750px;
    display: inline-block;
    margin: auto;
    margin-top: -110px;
    right: 0;
    z-index: 1;
    left: 0;
    object-fit: cover;
    position: absolute;
}

.backgroudimg {
  height: inherit;
  width: inherit;
  /*position: absolute;
  object-fit: cover;
  right: 0;
  left: 0;
  margin: auto;*/
  top: -20px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  /*max-height: 100px;*/
  /*max-width: 750px;*/
}

.first-card {
  margin-top: 100px;
  padding-top: 65px;
  padding-bottom: 20px;
}
.full-card {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto
}

.description {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

.no-left-padding.col {
  padding-left: 0;
}

.no-right-padding.col {
  padding-right: 0;
}

.contact {
  height: 400px;
}

.card-contact {
  min-height: 400px;
  background-color: #00796B;
  color: white;
}

.card-map {
  min-height: 400px;
  height: inherit;
  padding: 0;
}

/*tr:hover {
  background-color: #009688;
}*/

td.description {
  text-align: center;
}

.mini-avatar {
  width: 50px;
  height: 50px;
  margin: 8px;
  margin-right: 15px;
  vertical-align: middle;
}

.big-avatar {
  width: 250px;
  height: 250px;
  margin: 8px;
  margin-right: 15px;
  vertical-align: middle;
}

.person-desc {
  padding: 20px;
  padding-top: 100px;
}

li.indicator-item.active {
  background-color: #FB8C00 !important;
}
