<div class="row">

</div>

<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <select>
            <option value="" disabled selected>Wybierz</option>
             <optgroup label="Popularne">
               <option value="1">Strzyżenie męskie - 25,00 PLN</option>
               <option value="2">Farbowanie - 55,00 PLN</option>
               <option value="3">Ondulacja - 60,00 PLN</option>
             </optgroup>
             <optgroup label="Wszystkie">
               <option value="4">Fryzura ślubna - 150,00 PLN</option>
               <option value="5">Modelowanie - 70,00 PLN</option>
               <option value="6">Strzyżenie damske - krótkie - 40,00 PLN</option>
               <option value="7">Strzyżenie damske - średnie - 50,00 PLN</option>
               <option value="8">Strzyżenie damske - długie - 60,00 PLN</option>
             </optgroup>
           </select>
           <label>Usługa</label>
         </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select class="icons">
            <option value="" selected>Dowolny</option>
            <option value="" data-icon="https://randomuser.me/api/portraits/women/79.jpg" class="left circle">Kasia W.</option>
            <option value="" data-icon="https://randomuser.me/api/portraits/women/76.jpg" class="left circle">Basia G.</option>
            <option value="" data-icon="https://randomuser.me/api/portraits/women/43.jpg" class="left circle">Ania T.</option>
          </select>
          <label>Fryzjer</label>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
      <div class="col s12">
        <div id="bookingjs">
            <script type="text/javascript" src="/bower_components/booking.js"></script>
            <script type="text/javascript">


            var widget = new TimekitBooking();
            widget.init({
              email:    'marty.mcfly@timekit.io',
              apiToken: 'bNpbFHRmrfZbtS5nEtCVl8sY5vUkOFCL',
              calendar: '8687f058-5b52-4fa4-885c-9294e52ab7d4'
            });
          </script>
        </div>
      </div>
    </div>

  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
